<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-projet-heading" data-cy="ProjetCreateUpdateHeading" jhiTranslate="gestionApp.projet.home.createOrEditLabel">
        Create or edit a Projet
      </h2>

      <div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR"  class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.intitule" for="field_intitule">Intitule</label>
          <input type="text" class="form-control" name="intitule" id="field_intitule" data-cy="intitule" formControlName="intitule" />
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.descriptionProjet" for="field_descriptionProjet"
            >Description Projet</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionProjet"
            id="field_descriptionProjet"
            data-cy="descriptionProjet"
            formControlName="descriptionProjet"
          />
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'gestionApp.TypeProjet.null' | translate }}</option>
            <option *ngFor="let typeProjet of typeProjetValues" [value]="typeProjet">
              {{ 'gestionApp.TypeProjet.' + typeProjet | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.etape" for="field_etape">Etape</label>
          <select class="form-control" name="etape" formControlName="etape" id="field_etape" data-cy="etape">
            <option [ngValue]="null">{{ 'gestionApp.Etape.null' | translate }}</option>
            <option *ngFor="let etape of etapeValues" [value]="etape">{{ 'gestionApp.Etape.' + etape | translate }}</option>
          </select>
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.dateCreation" for="field_dateCreation">Date Creation</label>
          <div class="input-group">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="text"
              class="form-control"
              name="dateCreation"
              ngbDatepicker
              #dateCreationDp="ngbDatepicker"
              formControlName="dateCreation"
            />
            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
          <label class="form-label" jhiTranslate="gestionApp.projet.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.nomC }}
            </option>
          </select>
        </div>




      <div *jhiHasAnyAuthority="enumauthority.DIRECTEUR" class="row mb-3">
        <label class="form-label" for="field_user">Chef de projet </label>
        <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
          <option
            [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
            *ngFor="let userOption of usersSharedCollection; "
          >
            {{ userOption.login }}
          </option>
        </select>
      </div>
  </div>




      <div >
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
