<div>
  <h2 id="page-heading" data-cy="FichierHeading">
    <span jhiTranslate="gestionApp.fichier.home.title">Fichiers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionApp.fichier.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fichier"
        [routerLink]="['/fichier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionApp.fichier.home.createLabel"> Create a new Fichier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fichiers?.length === 0">
    <span jhiTranslate="gestionApp.fichier.home.notFound">No fichiers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fichiers && fichiers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomF"><span jhiTranslate="gestionApp.fichier.nomF">Nom F</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cheminF">
            <span jhiTranslate="gestionApp.fichier.cheminF">Chemin F</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codeF"><span jhiTranslate="gestionApp.fichier.codeF">Code F</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dossier.id">
            <span jhiTranslate="gestionApp.fichier.dossier">Dossier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fichier of fichiers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fichier', fichier.id, 'view']">{{ fichier.id }}</a>
          </td>
          <td>{{ fichier.nomF }}</td>
          <td>{{ fichier.cheminF }}</td>
          <td>{{ fichier.codeF }}</td>
          <td>
            <div *ngIf="fichier.dossier">
              <a [routerLink]="['/dossier', fichier.dossier?.id, 'view']">{{ fichier.dossier?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fichier', fichier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fichier', fichier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fichier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fichiers && fichiers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
