<h1><span class="badge bg-info text-dark">VOS PROJETS</span></h1>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Intitulé</th>
    <th scope="col">Description</th>
    <th scope="col">étape</th>
    <th scope="col">Chef de projet</th>
<th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tache of taches,let index=index" >
    <th scope="row">{{index+1}}</th>
    <td>{{tache?.intitule}}</td>
    <td>{{tache?.descriptionProjet}}</td>
    <td>{{tache?.etape}}</td>
    <td>{{tache?.user?.login}}</td>
    <td>
      <button type="submit" [routerLink]="['/projet', tache?.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
        <fa-icon icon="eye"></fa-icon>
        <span class="d-none d-md-inline" >Voir les détails</span>
      </button>

      <button  type="submit" [routerLink]="['/projet', tache?.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
        <fa-icon icon="pencil-alt"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
      </button>


      <button type="button" class="btn btn-info" (click)="ouvrirModal(tache?.id!)">
        Ouvrir
      </button>
      <button disabled *ngIf="tache?.user?.id==account?.id"  type="button" class="btn btn-info" [routerLink]="['/projet', tache?.id, 'newdossier']" >
        <span class="d-none d-md-inline" >Commenter</span>
      </button>
    </td>
  </tr>

  </tbody>
</table>
